<div>
  <%= link_to "Edit this task", edit_task_path(@task) %> |
  <%= link_to "Back to tasks", tasks_path %>

  <% if @task.completed %>
    <%= button_to "Destroy this task", @task, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
